.card-container {
    display: grid;
    grid-column-gap: 50px;
  }

.card{
    border: solid white;
    border-radius: 25px;
    padding: 15px;
    height: 120px;
    width: 400px;
    box-shadow: 1px 1px gray;
    overflow: auto;
    resize: both;

}

.link {
    color: blue;
    font-family: Arial, Helvetica, sans-serif bold;
    font-size: 20px;
}

.link:hover {
    color: rgb(255, 115, 0);
    font-size: x-large;
}

#repo-icon{
    width: 20px;
    height: 20px;
}

#descriptor{
    color: gray;
    font-size: 70%;
}

.contactBox{
    border: solid black;
    border-radius: 25px;
    padding: 15px;
    height: 400px;
    width: 700px;
    box-shadow: 1px 1px gray;
}