
html,* { cursor: none; }

.my-btn{
    background-color:transparent;
    border:1px solid transparent;
    padding:5px;
    color:white;
}

.my-btn:hover{
border-radius:5px;
color:#F75C1E;
}

.dark{
    color:black;
}

.video-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -999;
}

#typed-strings,#typed{
    color:#F75C1E;
}

.colored-heading{
    color:#F75C1E !important;
}


.title-heading{
    padding-top:50px;
    padding-bottom:50px;
}

.title-heading-btn{
    background: transparent;
    border:2px solid #F75C1E;
    border-radius:5px;
}

.title-heading-btn:hover{
    -webkit-box-shadow: 0px 0px 100px 0px #F75C1E;
    -moz-box-shadow: 0px 0px 100px 0px #F75C1E;
    box-shadow: 0px 0px 100px 0px #F75C1E;
    background-color: #F75C1E;;
}

.title-heading-btn:hover .colored-heading{
    color:white !important;
}

a {
    color: #F75C1E !important;
}

.gradient-color{
    /* color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); ; */
    background: -webkit-linear-gradient(right,red,orange,yellow,rgb(56, 116, 172),rgb(150, 75, 180),violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-category-label{
    border:1px solid #F75C1E;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    border-radius: 0.1cm;
    padding:1px;
    width:auto;
    
}

.card-container{
    background:black;
    border:1px solid #F75C1E; 
}

.card-btn{
border:1px solid #F75C1E; 
}
.card-btn:hover{
    border:1px solid white; 
    color:white !important;
}

.profile-img{
    border:1px solid black; 
    border-radius:0.5cm; 
    width:300px;
    
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
.zoom:hover {
transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
border-color:#F75C1E;
box-shadow:0 0 50px 1px #F75C1E;
}

@media (hover: hover) and (pointer: fine) {

}