
html,* { cursor: none; }

.my-btn{
    background-color:transparent;
    border:1px solid transparent;
    padding:5px;
    color:white;
}

.my-btn:hover{
border-radius:5px;
color:#F75C1E;
}

.dark{
    color:black;
}

.video-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -999;
}

#typed-strings,#typed{
    color:#F75C1E;
}

.colored-heading{
    color:#F75C1E !important;
}


.title-heading{
    padding-top:50px;
    padding-bottom:50px;
}

.title-heading-btn{
    background: transparent;
    border:2px solid #F75C1E;
    border-radius:5px;
}

.title-heading-btn:hover{
    -webkit-box-shadow: 0px 0px 100px 0px #F75C1E;
    -moz-box-shadow: 0px 0px 100px 0px #F75C1E;
    box-shadow: 0px 0px 100px 0px #F75C1E;
    background-color: #F75C1E;;
}

.title-heading-btn:hover .colored-heading{
    color:white !important;
}

a {
    color: #F75C1E !important;
}

.gradient-color{
    /* color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); ; */
    background: -webkit-linear-gradient(right,red,orange,yellow,rgb(56, 116, 172),rgb(150, 75, 180),violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-category-label{
    border:1px solid #F75C1E;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    border-radius: 0.1cm;
    padding:1px;
    width:auto;
    
}

.card-container{
    background:black;
    border:1px solid #F75C1E; 
}

.my-a-btn{
border:1px solid #F75C1E; 
}

.my-sumbit-btn:hover,.my-a-btn:hover{
    border:1px solid white !important; 
    color:white !important;
}

.profile-img{
    display:block;
    width:300px;
    border:1px solid black; 
    border-radius:0.5cm;
}

@media screen and (max-width: 480px) {
    .particles-js {
      display: none;
    }
    body{
        /* background-image:url('../assets/images/black-sand.jpg') ; */
        /* background-color: black; */
    }

}


.responsive-img-container{
    text-align: center; 
    display:block;
    margin:auto;
    width: 100%;
}

.responsive-img-container img{
    width:85%;
    
}


.responsive-img-container .card-img{
    max-height:200px;  
    position:relative;  
}


.responsive-img-container .card-img:hover{
    z-index: 1000;
}

.card-container img{
    display:none;
}


@media only screen and (max-width: 800px) {
    .responsive-img-container{
        display:none;
    }
    .card-container img{
        display:block;
        width:100%;
    }

    .card-container.card-container-md{
        margin-top: 10rem;
    }
}

.my-sumbit-btn{
    border-color:#F75C1E;
     color:white;
}

.form-group .form-control{
    border:1px solid white;
    border-radius:0.2cm;
    color:orange;
    background-color:rgba(255,255,255,0.1);
}
.form-group .form-control:focus{
    border:1px solid #F75C1E;
    border-radius:0.2cm;
}

.darken-video{
    filter: brightness(30%);
    
}

/** Start volume slider **/
.volume-level-container{
    position:absolute;
    top:90%;
    width:15%;
    display:block;
    margin-left:20px;
    height:auto;
}

.volume-level-container:hover #volume-level-slider{
    color:white;
    cursor: crosshair;
    border-color: white;
}

.volume-level-container:hover #volume-level-label{
    color: white;
}

#volume-level-slider{
    width:100%;
    height:10px;
    z-index:1000;
    border: solid 2px black;
    border-radius: 50px;
    background: rgba(247, 92, 30,0.4);
    -webkit-appearance: none;
    position:inherit;
}

#volume-level-slider a{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #F75C1E;
    cursor: crosshair;
    border-radius: 50px;
}

/** End volume slider **/

/** Start Custom scrollbar **/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: black; 
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    background: black;
    margin:	5px 0;
}

::-webkit-scrollbar-thumb {
    background: #F75C1E;
    border-radius: 15px; 
}

::-webkit-scrollbar-thumb:hover { 
    box-shadow: inset 0 0 10px #c23c07; 
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
/** End Custom scrollbar **/

/** Start Custom text selection**/
::moz-selection{
	color:black;
	background:	orange;
    text-shadow:0 0px 0px #000 !important;
}

::selection{
	color:black;
	background:	orange;
    text-shadow:0 0px 0px #000 !important;
}
/** End Custom text selection**/

/** Start Timeline Table **/

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    width: inherit;
  }
  
  /* Card container */
  .timeline-card {
    position: relative;
    /* max-width: 400px; */
  }
  
  /* setting padding based on even or odd */
  .timeline-card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .timeline-card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .timeline-card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .timeline-card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .timeline-card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .timeline-card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .timeline-card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .timeline-card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .timeline-card-content {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
.timeline-card-content .timeline-card-title {
    color: orangered;
    position: relative;
    font-size: 15px;;
    font-weight: bold;
}

  /* Timeline dot  */
.timeline-card-title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
}

  /* text right if the card is even  */
.timeline-card:nth-child(even) > .timeline-card-content > .timeline-card-title {
    text-align: right;
}

  /* text right if the card is even  */
.timeline-card:nth-child(even) > .timeline-card-content > .timeline-logo {
    position: sticky;
    left: 100%;
}

  /* setting dot to the left if the card is odd */
.timeline-card:nth-child(odd) > .timeline-card-content > .timeline-card-title::before {
    left: -43px;
}

/* setting dot to the right if the card is odd */
.timeline-card:nth-child(even) > .timeline-card-content > .timeline-card-title::before {
    right: -43px;
}


.timeline-logo{
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    
    border: 1px solid white;
    border-radius: 500px;
}

.timeline-logo img{
    padding: 10px;
    max-height: 100%;
    max-width: 100%;
}

/** End Timeline **/